header {
	background-color: $white;
	position: relative;
	// border-bottom: 1px solid red;
	z-index: 1050;
	mix-blend-mode: exclusion;

	.navbar {
		padding: 0px 0px;

		.navbar-brand {
			// max-height: 60px;
			// margin: 15px 0px;
			height: 100px;
			width: auto;
			padding: 0px;
			position: fixed;
			top: 15px;
			bottom: auto;
			left: 15px;
			right: auto;
			z-index: 1050;
			animation: logo-rotate ease 30s infinite normal;
			transition: all ease 0.5s;

			@include on-event{
				animation-play-state:paused;
			}

			path {
				fill: $white;
			}
		}

		.lights-btn{
			position: fixed;
			top: 65px;
			bottom: auto;
			left: 65px;
			right: auto;
			z-index: 1051;
			color: $white;
			font-size: 45px;
			line-height: 1;
			transform: translateX(-50%) translateY(-50%);

			&::after{
				display: none;
			}

			i{
				color: $white;
			}
		}

		.navbar-toggler {
			background-color: transparent;
			padding: 0px;
			border-radius: 0px;
			border: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			-webkit-transition: all ease 0.3s;
			transition: all ease 0.3s;
			// z-index: 10;
			position: fixed;
			right: 15px;
			left: auto;
			top: 51px;
			bottom: auto;
			z-index: 1051;

			.icon-bar {
				display: block;
				background: $white;
				height: 2px;
				width: 39.36px;
				-webkit-transition: all ease 0.3s;
				transition: all ease 0.3s;
				transform-origin: center center;

				&.middle {
					height: 2px;
					opacity: 0;
					margin: 11px 0px;
					width: 35px;
				}

				&.top {
					transform: rotate(-45deg);
					transform-origin: top right;
					// margin-bottom: -10px;
				}

				&.bottom {
					transform: rotate(45deg);
					transform-origin: bottom right;
					// margin-top: -5.5px;
				}
			}


			&.collapsed {
				// justify-content: space-between;

				.icon-bar {
					transform: rotate(0deg);
					width: 35px;

					&.middle {
						opacity: 1;
						height: 2px;
					}

					&.top {
						transform-origin: top right;
						// margin-bottom: 0px;
					}

					&.bottom {
						// margin-top: 0px;
					}
				}
			}

			&:focus {
				outline: none;
			}
		}

		.desktop-navigation {
			padding: 0px;
			opacity: 1;
			flex-direction: column;
			background: transparent;
			position: fixed;
			z-index: 1049;
			bottom: 30px;
			top: auto;
			left: 15px;
			right: auto;
			margin: 0px;

			.nav-item {
				line-height: 1.5;
				font-size: 32px;
				text-transform: uppercase;
				display: flex;
				color: $white;

				a.nav-link {
					padding: 0px;
					// flex: 1;
					line-height: 1.5;
					color: $white;

					&::after{
						background: $white;
					}
				}
			}
		}

		.contact-link{
			position: fixed;
			top: 20px;
			bottom: auto;
			right: 15px;
			left: auto;
			color: $white;
			font-size: 33px;
			text-transform: uppercase;
			z-index: 1052;

			&::after{
				background: $white;
			}
		}
	}

}

.navbar-collapse {
	position: fixed;
	z-index: 100;
	top: 0px;
	bottom: 0px;
	left: auto;
	right: 100%;
	background: $secondary-color;
	height: 100% !important;
	width: 100%;
	transition: all ease 0.5s;


	ul.navbar-nav {
		padding: 150px 15px 100px 15px;
		opacity: 0;
		transition: all ease 0.5s 0.5s;

		.nav-item {
			line-height: 1.5;
			font-size: 30px;
			text-transform: uppercase;
			display: flex;

			a.nav-link {
				padding: 0px;
				// flex: 1;
				line-height: 1.5;

			}
		}
	}

	&.show {
		right: 0px;

		ul.navbar-nav {
			opacity: 1;
		}
	}

	&.collapsing {
		ul {
			opacity: 1;
		}
	}
}

@media (min-width: 768px) {
	header {

		.navbar-expand-md {
			.navbar-toggler {
				display: none;
			}

		}

		.navbar {
			padding: 0px 0px;

			.navbar-brand {
				// max-height: 60px;
				// margin: 15px 0px;
				height: auto;
				top: 20px;
				left: 15px;

			}

			.lights-btn{
				position: fixed;
				top: 95.5px;
				bottom: auto;
				left: 90.5px;
				right: auto;
				z-index: 1051;
				color: $white;
				font-size: 45px;
				line-height: 1;
				transform: translateX(-50%) translateY(-50%);
	
				i{
					color: $white;
				}
			}


			// .navbar-collapse{
			// 	display: block !important;
			// }

		}

	}

}

@media (min-width: 992px) {}

@media (min-width: 1400px){
	header {
		.navbar {

			.navbar-brand {
				height: auto;
				top: 20px;
				left: 50px;

			}

			.lights-btn{
				left: 126.5px;
			}


			// .navbar-collapse{
			// 	display: block !important;
			// }

			.desktop-navigation {
				left: 50px;
			}
			.contact-link{
				right: 50px;
			}

		}

	}
}