/// -----------------------------------------------------------------------------
/// This file contains very basic styles.
/// -----------------------------------------------------------------------------

body {
  background-color: $body-color;
  font-family: $primary-font;
  font-style: normal;
  font-size: $body-font-size;
  letter-spacing: letter-spacing(50, $body-font-size);
  color: $text-color;
  // cursor: url("../img/cursor.png"), auto;
  cursor: crosshair;

  overflow: hidden;
}

.preload {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background: $dark-color;
  z-index: 1051;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all ease 0.7s;

  .logo-container{
    animation: opacity ease-in 2s infinite normal;
  }

  svg {
    animation: logo-rotate ease 30s infinite normal;
    transition: all ease 0.5s;
    g{
      width: 50vh;
    }

    path{
      fill: white;
    }
  }

  &.hide{
    opacity: 0;
    pointer-events: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $primary-color;
  font-weight: 800;
  line-height: 1.5;
  text-transform: none;
}

/// Basic styles for text
p {
  color: $text-color;
  line-height: 1.5;
  word-wrap: break-word;
}

/// Basic styles for links
a {
  color: $black;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;

  // cursor: url("../img/pointer.png"), auto;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    top: auto;
    left: auto;
    right: 0px;
    height: 1.5px;
    width: 0px;
    background: $black;
    transition: width ease 0.5s;
  }

  @include on-event {
    color: $black;
    text-decoration: none;

    &::after {
      width: 100%;
      left: 0px;
      right: auto;
    }
  }
}

@media (min-width: 1400px) {
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/// Text selection colors
::-moz-selection {
  background: transparent;
  color: #00f4bf;
}

::selection {
  background: transparent;
  color: #00f4bf;
}